<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="Images/icono.png" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body class="sz1200 featured-page stdln en_US_MAIN">
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>@Html.ActionLink(
                                    " ",
                                    "Index",
                                    new { @controller = "Home" },
                                    new { @class = "Logo" })</p>
                </div>
                <div class="float-right">
                    <section>
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
            </div>
        </header>
        <div id="body">
            <div class="navbar">
                 <div class="navbar-inner" id="barraNavegar">
                     <form class="navbar-search pull-lef">
                         <input type="text" placeholder="Buscar..." id="buscador"/>
                         <input type="submit" value="Buscar" class="btn btn-success" id="btnBuscar"/>
                     </form>
                        <ul class="nav">
                          <li><a href="#">Inicio</a></li>
                          <li><a href="#">Vender Articulo</a></li>
                          <li><a href="#">Sobre Nosotros</a></li>
                          <li><a href="#">Sugerencias</a></li>
                        </ul>
                 </div>
            </div>
            <section>
                @RenderBody()
            </section>
        </div>
        <footer class="navbar navbar-inverse navbar-fixed-top" id="barraInferior">
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year De´ Compras NET</p>
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
