@model Test.Models.Persona
@{
    ViewBag.Title = "Formulario"; 
}

<h2>Create</h2>
@Html.ValidationSummary("No fue posible crear el elemento")
@using ((Html.BeginForm("FormularioMethod", "Home", FormMethod.Post))) {

    <fieldset>
        <legend>Campos</legend>

        <p>
            <label for="Id">Id:</label>
            @Html.TextBoxFor(m=> m.Id)
            @Html.ValidationSummary("Id", "*")
        </p>

         <p>
            <label for="Name">Nombre:</label>
            @Html.TextBoxFor(m=> m.Nombre)
            @Html.ValidationSummary("Nombre", "*")
        </p>

        <p>
            <label for="Age">Edad:</label>
            @Html.TextBoxFor(m=> m.Edad)
            @Html.ValidationSummary("Edad", "*")
        </p>

        <p>
            <label for="Street">Ciudad:</label>
            @Html.TextBoxFor(m=> m.Ciudad)
            @Html.ValidationSummary("Ciudad", "*")
        </p>

        <p>
            <label for="City">Provincia:</label>
            @Html.TextBoxFor(m=> m.Provincia)
            @Html.ValidationSummary("Provincia", "*")
        </p>

         <p>
            <label for="State">Pais:</label>
            @Html.TextBoxFor(m=> m.Pais)
            @Html.ValidationSummary("Pais", "*")
         </p>

         <p>
            <label for="ZipCode">Codigo Postal:</label>
            @Html.TextBoxFor(m=> m.CodigoPostal)
            @Html.ValidationSummary("CodigoPostal", "*")
        </p>

        <p>
            <input type="submit" value="Crear Registro"/>
        </p>
    </fieldset>
}