@model IEnumerable<Test.Models.Product>

@{
    ViewBag.Title = "Productos";
}

<h2>Mis Productos</h2>

<p>
    @Html.ActionLink("Agregar Nuevo", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            Categoría
        </th>
        <th>
            Condición
        </th>
        <th>
            Título
        </th>
        <th>
            Descripción
        </th>
        <th>
            Precio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCondition.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Ver Producto", "Create", "Comment", new { ProductID=item.ProductID, @class="linkButton" }, null) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ProductID })
            
        </td>
        
    </tr>
   
}

</table>