@model IEnumerable<Test.Models.Product>

@{
    ViewBag.Title = "Productos";
    Test.Models.TestContext db = new Test.Models.TestContext();
    var images = db.Images.ToList();
}

<div class="divSombreado">
    <h2>Mis Productos</h2>
</div>

<p>
    @Html.ActionLink("Agregar Nuevo", "Create")
</p>

@foreach (var item in Model) {
     Test.Models.Image ActualImage = images.Where(i => i.ProductID == item.ProductID).FirstOrDefault();
    <div class="divProduct">
        <div class="divImagen">
            <a href="@Url.Action("Create", "Comment", new { ProductID=item.ProductID }, null)">
                <img src="@ActualImage.ImagePath" />
            </a>
        </div>
        <table>
            <tr>
                <td><b>@item.Title</b></td>
            </tr>
            <tr>
                <td>@Html.ActionLink("editar", "Edit", new { id=item.ProductID })</td>
            </tr>
            <tr>
                <td> @Html.ActionLink("Eliminar", "Delete", new { @class = "btn btn-danger", id=item.ProductID})</td>
            </tr>
        </table>
    </div>
}
